KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/interrupt-ent.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/exception.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/serial.o
