KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/asm/boot.o \
$(ARCHDIR)/asm/gdt.o \
$(ARCHDIR)/asm/idt.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/exception.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/vga.o \
$(ARCHDIR)/mouse.o \
$(ARCHDIR)/keyboard.o
